@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


/* Common css */
h1 {
    background-color: #29da4f;
    margin-bottom: 0;
    font-family: "Aclonica", sans-serif;
    padding: 10px 10px 0;
}

.navbar {
    padding: 10px;
}

.custom-nav {
    background-color: #29da4f;
}

.navbar-toggler {
    margin-left: auto;
    
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

.custom-footer {
    background-color: #29da4f;
    font-family: "Aclonica", sans-serif;
}

p {
    font-family: "Aclonica", sans-serif;
}

/* Login-page */

.login-img {
    width: 100vw;
    height: 100vh;
    background-image: url(/static/css/images/login-page.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Quiz-page */

.quiz-img {
    width: 100vw;
    height: 100vh;
    background-image: url(/static/css/images/clover.jpg);
    position: absolute;
}

/* leaderboard-page */

.leaderboard {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(119deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.scoreboard {
    display: grid;
    grid-gap: 25%;
    margin-top: 15%;
}

.input-group {
    width: 80%;
    margin: auto;
}


/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #4c93ba;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}
