
{% extends 'base.html' %} {% block index %}

<div class="row mt-5 text-center" id="home-page">
    <div class="col-lg-6 my-auto" id="home-text">
        <h2 class="text-center">How much do you know about St. Patrick's Day?</h2>
        <h4 class="text-center">
            Take our Quiz to test your knowledge <a href="{{url_for('login')}}"><i class="fas fa-arrow-circle-right"></i></a>
        </h4>
    </div>
    <div class="col-lg-6">
        <img src="/static/images/leprechaun.png" class="home-img" alt="leprechaun" />
    </div>
</div>

{% endblock %}