{% extends 'base.html' %} {% block content %}
<div class="leaderboard">
    <form class="scoreboard">
        <input type="text" id="teamA" name="teamA" class="input-group" value="TEAM A-Score">
        <input type="text" id="teamB" name="teamB" class="input-group" value="TEAM B-Score">
        <input type="text" id="teamC" name="teamC" class="input-group" value="TEAM C-Score">
        <input type="text" id="teamD" name="teamD" class="input-group" value="TEAM D-Score">
        <input type="text" id="teamE" name="teamE" class="input-group" value="TEAM E-Score">
    </form>
</div>
{% endblock %}