{% extends 'base.html' %} {% block content %}


<section>
    <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    Welcome {{ name }}
                </h3>
            </div>
        </div>
    <div class="row mt-5 mb-5">
        <div class="col" id="quizWrap"></div>
    </div>

        <form class="col s12" method="POST" action="{{ url_for('add_score') }}">
            <!-- task name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="quiz.score" name="score"
                        type="text" class="validate" required>
                    <label for="score">Score</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Score to Leaderboard <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>

</section>

{% endblock %}